

/*#caribou {
  width: 106px;
}

#coffee {
  width: 106px;
}*/

div.columns > img {
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 300px;
}

#pizza {
  width: 960px;
}

/*div {
  background-color: #555;
}*/

.grid {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 50px;
  /*align-items: baseline;
  flex-flow: row wrap;
  align-content: center;*/
}

.row {
  margin-top: 50px;
  margin-bottom: 50px;
}

h1, h2, div {
  text-align: center;
  /*padding: 10px;*/
  border-radius: 5px;
}

ul, li {
  text-align: left;
}

a {
  display: inline;
  text-decoration: none;
  font-size: 20px;
}
/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: blue;
}

/* selected link */
a:active {
    color: black;
}
#head {
  font-size: 80px;
  margin-top: 80px;
}

/*#sales {
  display: inline;
}*/
