img {
  width: 300px;
}

span {
  display: inline;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

p {
  text-align: center;
}

button {
  visibility: hidden;
}

.bar {
  height: 20px;
  /*background-color: rgb(187,70,38);
  border: 1px solid white;
  text-align: right;*/
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: black;
  white-space: nowrap;
  padding-top: 10px;
}
